.shimmer-container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    width: 250px;
    height: 280px;
    margin: 20px;
    text-align: center;
    background-color: gray;
}